---
http_interactions:
- request:
    method: post
    uri: https://dummy-site.chargebee.com/api/v2/invoices/draft_inv23423/add_charge
    body:
      encoding: UTF-8
      string: amount=50&description=New+Plan
    headers:
      Lang-Version:
      - 2.6.5
      Os-Version:
      - x86_64-darwin18
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic dGVzdF9lTURkcXJIbUgyWFlha0g5T1NCY0dRamhXU0lEcW9iQzo=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"message":"draft_inv23423 not found","type":"invalid_request","api_error_code":"resource_not_found","error_code":"resource_not_found","error_msg":"draft_inv23423
        not found","http_status_code":404}'
  recorded_at: Fri, 27 Mar 2020 16:18:13 GMT
- request:
    method: post
    uri: https://dummy-site.chargebee.com/api/v2/invoices/draft_inv23423/add_addon_charge
    body:
      encoding: UTF-8
      string: addon_id=ssl&addon_quantity=1
    headers:
      Lang-Version:
      - 2.6.5
      Os-Version:
      - x86_64-darwin18
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic dGVzdF9lTURkcXJIbUgyWFlha0g5T1NCY0dRamhXU0lEcW9iQzo=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"message":"draft_inv23423 not found","type":"invalid_request","api_error_code":"resource_not_found","error_code":"resource_not_found","error_msg":"draft_inv23423
        not found","http_status_code":404}'
  recorded_at: Fri, 27 Mar 2020 16:18:13 GMT
- request:
    method: post
    uri: https://dummy-site.chargebee.com/api/v2/invoices/draft_inv23423/close
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Lang-Version:
      - 2.6.5
      Os-Version:
      - x86_64-darwin18
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic dGVzdF9lTURkcXJIbUgyWFlha0g5T1NCY0dRamhXU0lEcW9iQzo=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"message":"draft_inv23423 not found","type":"invalid_request","api_error_code":"resource_not_found","error_code":"resource_not_found","error_msg":"draft_inv23423
        not found","http_status_code":404}'
  recorded_at: Fri, 27 Mar 2020 16:18:14 GMT
- request:
    method: get
    uri: https://dummy-site.chargebee.com/api/v2/customers/cbdemo_dave
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Lang-Version:
      - 2.6.5
      Os-Version:
      - x86_64-darwin18
      Authorization:
      - Basic dGVzdF9lTURkcXJIbUgyWFlha0g5T1NCY0dRamhXU0lEcW9iQzo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "customer": {
                "id": "cbdemo_dave",
                "first_name": "Dave",
                "last_name": "Moss",
                "email": "dave@example.com",
                "phone": "734-389-7473",
                "company": "Moss Enterprises",
                "auto_collection": "on",
                "net_term_days": 0,
                "allow_direct_debit": false,
                "created_at": 1520079709,
                "taxability": "taxable",
                "updated_at": 1583065309,
                "pii_cleared": "active",
                "resource_version": 1583065309000,
                "deleted": false,
                "object": "customer",
                "card_status": "valid",
                "primary_payment_source_id": "pm_16BRIvRs5kb3W5R",
                "payment_method": {
                    "object": "payment_method",
                    "type": "card",
                    "reference_id": "tok___dev__XpbBrRkRdXlZnFBh",
                    "gateway": "chargebee",
                    "gateway_account_id": "gw_16BRIvRs5katE5M",
                    "status": "valid"
                },
                "promotional_credits": 0,
                "refundable_credits": 0,
                "excess_payments": 0,
                "unbilled_charges": 0,
                "preferred_currency_code": "USD"
            },
            "card": {
                "status": "valid",
                "gateway": "chargebee",
                "gateway_account_id": "gw_16BRIvRs5katE5M",
                "iin": "378282",
                "last4": "0005",
                "card_type": "american_express",
                "funding_type": "not_known",
                "expiry_month": 7,
                "expiry_year": 2022,
                "billing_zip": "600059",
                "created_at": 1583151709,
                "updated_at": 1583151709,
                "resource_version": 1583151709000,
                "object": "card",
                "masked_number": "***********0005",
                "customer_id": "cbdemo_dave",
                "payment_source_id": "pm_16BRIvRs5kb3W5R"
            }
        }
  recorded_at: Fri, 27 Mar 2020 16:18:14 GMT
recorded_with: VCR 5.1.0
